{% extends "base.html" %}

{% block search-bar %}{% end block %}

{% block page-content %}
	{% if not story %}
	<div class="jumbotron">
		<h3>story does not exist</h3>
	</div>
	{% else %}
	<!--<h3 style="text-decoration: underline">a story</h3>-->
	<class div="dropdown">
		<button type="button" class="btn dropdown-toggle" id="storyDropDown" data-toggle="dropdown">
			Menu
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="storyDropDown">
			<li role="presentation">
				<a role="menuitem" tabindex="-1">Item1</a>
			</li>
		</ul>
	</class>
	<div class="story">
		<div class="navbar-static-top">
			<h2 class="title">{{ story['title'] }}</h2>
		</div>
		{% for page in story['pages'] %}
		{% import markdown %}
			<div class="clearfix">
				<div style="background: #c8c8c8; padding-left: 15px;">PAGE {{ story['pages'].index(page) + 1 }}</div>
				<p class="lead">{{ markdown.markdown(page) }}</p>
			</div>
		{% end for %}
	
	</div>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div>
			 <button class="deleteBtn btn btn-danger btn-sm pull-right" value="/stories/{{story['_id']}}" style="margin-top: 7px; margin-right: 10px;">delete</button>
		</div>
	</nav>
	{% end if %}

{% end block %}