<!DOCTYPE html>
<html>
	<head>
		<title>Lois</title>
		<meta name="viewport" content="width=device-width, scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<script src="{{ static_url("jquery/jquery-3.2.1.min.js") }} "></script>
		<script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/lois.js") }} "></script>
		
		<link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}"/>
		<style>
			#queryBox{
				text-transform: lowercase;
			}
			#nav-block{
				padding-top: 10px;
			}
			@media (min-width: 1200px) {
    			.pull-right-lg {
        			float: right;
    				}
			}
		</style>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div id="nav-block" class="col-xs-12">
					{% block header %}
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-dropdown">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						
							<a class="navbar-brand" href="/lois">appLois</a>
						</div>
						<div class="collapse navbar-collapse" id="top-nav-dropdown">
							<ul class="nav navbar-nav pull-right-lg">
								<li><a href="/">home</a></li>
								<li><a href="/stories">stories</a></li>
								<li><a href="#" id="closeBtn">close session</a></li>
							</ul>
						</div>
					</nav>
					{% end block %}
				</div>
				
				<div class="col-xs-12">
					{% block search-bar %}
					<form class="bs-example bs-example-form" role="form" method="post" action="/search">
						<div class="row">
							<div class="col-xs-12">
								<div class="input-group">
									<input name="query" type="text" id="queryBox" placeholder="search box [external]" class="form-control" autocomplete="off"/>
									<input type="hidden" name="scope" value="external"/>
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">go</button>
									</span>
								</div>
							</div>
						</div>
					</form>
					{% end block %}
				</div>
				
				<div class="col-xs-12" style="margin-bottom: 10px;">
					{% block page-content %}
					
					{% end block %}
				</div>
			</div>
		</div>
	</body>
</html>

