{% extends "base.html" %}

{% block page-content %}
    <h3 style="text-decoration: underline">recent stories</h3>

    {% if not recent %}
        <b>no stories here</b>
    {% else %}
        {% for story in recent %}
            <div class="story">
                <a href="/stories/{{story['_id']}}">
                    <h3>{{ story['title'] }} <small>by {{ story['author'] }}</small></h3>
                </a>
                <p class="lead">{{ story['pages'][0][:250] }}...</p>
            </div>
        {% end for %}
    {% end if %}

{% end block %}