<!-- provide an internal search interface for lois-->
{% extends "index.html" %}

{% block search-bar %}
	<form class="bs-example bs-examlle-form" role="form" method="post" action="/search">
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group">
					<input name="query" type="text" id="queryBox" placeholder="search box [internal]" class="form-control" autocomplete="off"/>
					<input type="hidden" name="scope" value="internal"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">go</button>
					</span>
				</div>
			</div>
		</div>
	</form>
{% end block %}

{% block page-content %}
    <h3 style="text-decoration: underline">all stories</h3>

    {% if not stories %}
        <b>no stories here</b>
    {% else %}
        {% for story in stories %}
            <div class="story">
                <a href="/stories/{{story['_id']}}">
                    <h3>{{ story['title'] }} <small>by {{ story['author'] }}</small></h3>
                </a>
                <p class="lead">{{ story['pages'][0][:250] }}...</p>
            </div>
        {% end for %}
    {% end if %}

{% end block %}