{% extends "base.html" %}

{% block search-bar %}{% end block %}

{% block page-content %}
	<h3 style="text-decoration: underline">a story</h3>
	<div class="story">
		<div class="navbar-static-top">
			<h3 class="title">{{ story['title'] }} <button class="deleteBtn btn btn-danger btn-sm" value="/stories/{{story['_id']}}">delete</button></h3>
		</div>
		{% for page in story['pages'] %}
		{% import markdown %}
			<div>
				<div style="background: #c8c8c8; padding-left: 15px;">PAGE {{ story['pages'].index(page) + 1 }}</div>
				<p class="lead">{{ markdown.markdown(page) }}</p>
			</div>
		{% end for %}
	</div>

{% end block %}