<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../../static/bs/css/bootstrap.min.css">
	
	<script src="../../static/jquery/jquery.min.js"></script>
	<script src="../../static/bs/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						dropdown
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuBtn">
						<a class="dropdown-item" href="#">Frig</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>