<!DOCTYPE html>
<html>
	<head>
		<title>Lois</title>
		<meta name="viewport" content="width=device-width, scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<script src="{{ static_url("jquery/jquery-3.2.1.min.js") }} "></script>
		<script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/lois.js") }} "></script>
		
		<link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}"/>
		<style>
			
		</style>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					{% block header %}
					
					<div 
					
					{% end block %}
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					{% block page-content %}
					
					{% end block %}
				</div>
			</div>
		</div>
	</body>
</html>

